[submodule "vba-books"]
	path = vba-books
	url = https://github.com/free-educa/vba-books
[submodule "shell-script-books"]
	path = shell-script-books
	url = https://github.com/free-educa/shell-script-books
[submodule "ruby-books"]
	path = ruby-books
	url = https://github.com/free-educa/ruby-books
[submodule "python-books"]
	path = python-books
	url = https://github.com/free-educa/python-books
[submodule "programming-architecture-books"]
	path = programming-architecture-books
	url = https://github.com/free-educa/programming-architecture-books
